<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624492343010-or3ggr86un3uh45ous49pqj0rcnl6ld9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624492343010-or3ggr86un3uh45ous49pqj0rcnl6ld9</string>
	<key>API_KEY</key>
	<string>AIzaSyB_a5ZSNGC9swi3ywOL0bXcWnvQg9qZKu0</string>
	<key>GCM_SENDER_ID</key>
	<string>624492343010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tipsytrials</string>
	<key>PROJECT_ID</key>
	<string>tipsy-trials</string>
	<key>STORAGE_BUCKET</key>
	<string>tipsy-trials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624492343010:ios:89258a498e34f22b95f8bb</string>
</dict>
</plist>